@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.navList {
  list-style: none;
  gap: 40px;

  font-family: Mariupol;
  font-size: 20px;
  line-height: 150%; /* 30px */

  @include tabletHorizontal {
    display: flex;
  }
}

.navListFooter {
  list-style: none;

  font-family: Mariupol;
  font-size: 20px;
  line-height: 150%; /* 30px */

  @include tablet {
    display: flex;
    flex-direction: column;
  }
}

.navItem {
  padding: 12px 4px 12px 4px;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid black;
    // outline: 2px solid black;
  }
}

.navLink {
  text-decoration: none;
  color: $black;
}
