@import "../../../sass/mixin.scss";

.container {
	display: flex;
	justify-content: center;
}

.containerImage {
	background-image: url("../../../assets/img/hero/hero-mob-bg.png");

	width: 100%;
	height: 460px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0px 16px 42px 16px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-start;

	@include mobileBig {
		background-image: url("../../../assets/img/hero/herobg.png");
	}
	@include tablet {
		justify-content: center;
	}
	@include tabletHorizontal {
	}
}

.title {
	color: #fbfdff;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
}
