@import "./assets/fonts/fonts.css";

*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: normal;
	font-style: normal;
	font-family: "Mariupol";
}

ul[class],
ol[class] {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

ul[class],
ol[class] {
	list-style: none;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img {
	max-width: 100%;
	display: block;
}

article > * + * {
	margin-top: 1em;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
.mySwiper {
	height: 100%;
}

.swiper {
	width: 100%;
	height: 100%;
}
.swiper-pagination-bullets {
	.swiper-pagination-bullet {
		width: 12px;
		height: 12px;
	}
	.swiper-pagination-bullet-active {
		width: 16px;
		height: 16px;
	}
}
.swiper-slide {
	text-align: center;

	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
	display: block !important;
	width: 44px !important;
	height: 44px !important;
	top: 25em !important;
	@include tablet {
		top: 27em !important;
	}
	@include tabletHorizontal {
		top: 13em !important;
	}
	svg {
		width: 100%;
		height: 100%;
		padding: 10px;
	}
	border-radius: 200px;
	border: 2px solid $blue_bright;
	transition: all $hoverAnimation;
	&:hover,
	&:focus {
		cursor: pointer;
		stroke: $white;
		fill: $white;
		background-color: $blue_bright;
	}
}
.swiper-button-next {
	right: 43% !important;
	@include tabletHorizontal {
		right: -1% !important;
	}
}
.swiper-button-prev {
	left: 43% !important;
	@include tabletHorizontal {
		left: -1% !important;
	}
}
.mainWrapperForSlider {
	position: relative;
	
}
