@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.logoRapper {
  display: flex;
  align-items: center;
}

.skeletonWrapper {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.logo {
  display: block;
  width: 42px;
  height: 42px;
}

.logoFooter {
  display: block;
  width: 80px;
  height: 80px;
}

.logoText {
  display: none;
  font-family: Mariupol;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: $blue;

  @include mobileBig {
  }

  @include tablet {
    display: flex;
    align-items: center;
    width: 220px;
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 50px;
      border: 1px solid $blue;
      margin-left: 16px;
      margin-right: 16px;
    }
  }
  @include desktop {
  }
}

.logoTextFooter {
  display: flex;
  align-items: center;
  width: 210px;
  font-family: Mariupol;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 30px */
  color: $blue;
  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 50px;
    border: 1px solid $blue;
    margin-left: 16px;
    margin-right: 16px;
  }
}
