@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.langWrapper {
  display: none;
  @include tabletHorizontal {
    display: flex;
    gap: 10px;
  }
}

.langUa {
}

.langEng {
}
