@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.langWrapper {
  display: none;
  font-family: Mariupol;
  font-size: 20px;
  line-height: 150%; /* 30px */
  color: $gray_dark;

  @include tabletHorizontal {
    display: flex;
    gap: 12px;
  }
}

.langUa {
}

.langEng {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    height: 20px;
    border-left: 1px solid $black;
    left: -6px;
    top: 4px;
  }
}
