@import "../../../sass/variables.scss";
@import "../../../sass/mixin.scss";



.contentWrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	max-width: 400px;
}

.iconWrapper {
	border-radius: 100%;
	background-color: #00d408;
	width: 92px;
	height: 92px;
	padding: 16px;
}
.icon {
	width: 100%;
	height: 100%;
	stroke: $white;
	fill: $white;
}

.textWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.title {
	color: $black;

	font-size: 24px;

	font-weight: 500;
	line-height: 120%;
}

.text {
	color: $black;

	font-size: 20px;

	font-weight: 400;
	line-height: 150%;
}
