@import "../../../../sass/mixin.scss";
@import "../../../../sass/variables.scss";
.swiperMobile {
	@include tablet {
		display: none;
	}
}
.paginationWrapper {
	margin-bottom: 64px;
}

.textWrapper {
	border: 2px solid $gold;
	border-radius: 8px;
	padding: 24px 16px;
	box-shadow: 4px 4px 25px 0px rgba(0, 92, 169, 0.1);
	background: $white;
	 min-height: 275px;
	 max-height: 100%;
}
