@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.title {
	color: $black;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
	text-align: center;

	margin-bottom: 40px;
}

.achievementsList {
	display: none;
	@include desktop {
		display: flex;
	flex-wrap: wrap;
	align-items: stretch; 
	justify-content: space-between; 
	}
}

.achievementEl {
	flex-basis: calc(33.33% - 20px); /* Ширина элемента (33.33% минус отступ) */
	margin-right: 20px; /* Отступ между элементами */
	margin-bottom: 20px; /* Отступ между рядами */
	border-radius: 8px;
	background: $white;
	box-shadow: 4px 4px 25px 0px rgba(0, 92, 169, 0.1);
	padding: 20px 40px; /* Добавьте отступы внутри элементов */
	min-height: 328px;
	max-height: 100%;

	@include desktopWide {
		min-height: 243px;
	}
}

.contentWrapper {
	height: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
	padding-left: 40px;
	border-left: 4px solid $gold;
}

.content {
	color: $black;
font-size: 24px;
line-height: 120%; /* 28.8px */
}