@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.title {
	color: $black;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
	text-align: center;

	margin-bottom: 40px;
}

