@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";
.container {
	display: flex;
	flex-direction: column;
	gap: 40px;
	border: 1px solid red;

	@include tablet {
		padding-bottom: 10px;
	}
}

.title {
	color: $black;
	font-size: 28px;
	font-weight: 500;
	line-height: 120%;
	text-align: center;
}


.sliderContainer {
	display: none;
	@include tablet {
		display: block;
	}
}

