@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";


.header {
  display: flex;
  justify-content: space-between;

  align-items: center;
  padding: 10px 16px;

  @include mobileBig {
  }

  @include tabletHorizontal {
  }
  @include desktop {
  }
}

.navMenu {
  display: none;
  @include tabletHorizontal {
    display: block;
  }
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: $gold;
  &:hover {
    background-color: $blue;
    color: $white;
  }
}

.burgerBtn {
  border: none;
  background-color: transparent;
  @include tabletHorizontal {
    display: none;
  }
}

.menuBtn {
  fill: $black;
  display: block;
}
