@import "../../sass/mixin.scss";
@import "../../sass/variables.scss";

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: $white;
  padding: 16px 0;

  @include mobileBig {
  }

  @include tabletHorizontal {
  }
  @include desktop {
  }
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLink {
  text-decoration: none;
}

.navMenu {
  display: none;
  @include tabletHorizontal {
    display: block;
  }
}

.socialLink {
  display: none;
  padding: 0;
  @include tabletHorizontal {
    display: block;
  }
}

.button {
  border: none;
  padding: 10px 20px;
  border-radius: 100px;
  background-color: $gold;
  &:hover {
    background-color: $blue;
    color: $white;
    cursor: pointer;
  }
}

.langSwitcher {
  display: none;
  @include desktop {
    display: block;
  }
}

.burgerBtnWrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.burgerBtn {
  position: absolute;
  left: 0;
  z-index: 150;
  border: none;
  background-color: transparent;
  @include tabletHorizontal {
    display: none;
  }
}

.menuBtn {
  fill: $black;
  display: block;
}

.closeBtn {
  // position: absolute;
  // z-index: 110;
  fill: $black;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
