@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.socialLink {
  padding: 0;
}

.socialLink:hover .socialIcon {
  fill: $blue;
}

.socialIcon {
  fill: $gray_dark;
  padding: 0;
}
