@import "../../../sass/mixin.scss";
@import "../../../sass/variables.scss";

.section {
  max-height: 607px;
  padding: 0 16px;
  padding-bottom: 100px;
  @include mobileBig {
    max-height: 100%;
  }
  @include tablet {
    max-height: 807px;
    padding: 0 24px;
    padding-bottom: 120px;
  }
  @include desktop {
    min-height: 999px;
    max-height: 999px;
    padding: 0 80px;
    padding-bottom: 180px;
  }
}
.paginationWrapper {
  margin-bottom: 54px;
  @include tablet {
    margin-bottom: 64px;
  }
}
.title {
  color: $black;
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
  text-align: center;

  margin-bottom: 40px;
  @include tablet {
    font-size: 28px;
  }
  @include desktop {
    font-size: 46px;
    margin-bottom: 80px;
  }
}

.photo {
  border-radius: 20px 20px 0px 0px;
  background: url("../../../assets/img/stories/storie.png") 50% / cover
    no-repeat;
  background-position-y: inherit;
  max-height: 100%;
  width: 100%;
  min-height: 159px;
  max-height: 100%;
  @include mobileBig {
    min-height: 288px;
  }
  @include desktop {
    min-height: 280px;
  }
}

.storyWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 239px;
  border-radius: 0px 0px 20px 20px;
  background-color: $gray_light;
  padding: 24px 16px;
  @include tablet {
    max-height: 333px;
    padding: 24px 24px 40px 24px;
  }
  @include desktop {
    max-height: 424px;
  }
}

.storyTitle {
  color: $black;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: 150%; /* 30px */
  margin-bottom: 12px;
  @include tablet {
    font-size: 24px;
  }
}

.storyText {
  color: $black;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 16px;
  @include tablet {
    font-size: 20px;
  }
}

.iconWrapper {
  max-height: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  span {
    color: $black;
    font-size: 14px;
    line-height: 150%;
    @include tablet {
      font-size: 20px;
    }
  }

  @include desktop {
    margin-bottom: 32px;
  }
}

.clockIcon {
  height: 24px;
  width: 24px;
  fill: $gray_dark;
  animation: rotate 15s linear infinite; /* Имя анимации, продолжительность, тип и бесконечное воспроизведение */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg); /* Начальное положение (0 градусов) */
  }
  100% {
    transform: rotate(360deg); /* Конечное положение (360 градусов) */
  }
}

.desktopWrapper {
  display: none;
  @include desktop {
    display: block;
  }
}
