@import "../../../../sass/mixin.scss";
@import "../../../../sass/variables.scss";

.sliderContainer {
	display: none;
	height: 100%;
	@include tablet {
		display: block;
	}
    @include desktop {
        display: none;
    }
}

.contentWrapper {
	border-radius: 8px;
	border: 2px solid $gold;
	background: $white;

	box-shadow: 4px 4px 25px 0px rgba(0, 92, 169, 0.1);
	
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 24px 16px;
	
    min-height: 24em;
	max-height: 100%;

	margin-bottom: 68px;
}

.content {
	color: $black;
	font-size: 20px;
	line-height: 150%;
}